/*
author: Samantha
Date: 9/10/2024

*/

/* CSS RESET */
body, header, nav, footer, main, h1, div, img, ul{
	margin: 0;
	padding: 0;
	border: 0;
} 

/* Style rules for body and images */
body{
	background-color: #7179f9; 	
}
img{
	max-width: 100%;
	display: block;
}

/*moblie Veiwpoint*/
/* Style rule for header */
header{
	position: -webkit-sticky;
	position: sticky;
	text-align: center;
	top: 0; 
	background-color: #7179f9;
	height: 190px;
	font-family: "Gloria Hallelujah";
}


/* stlye rules for navagation */ 
nav{
	position: -webkit-sticky;
	position: sticky;
	padding: 1%;
	margin-bottom: 1%;
	background-color: #000;
	border-radius: 100%
}	

nav ul{
	position: -webkit-sticky;
	position: sticky;
	list-style-type: none;
	text-align: center;
}

nav li{
	position: -webkit-sticky;
	position: sticky;
	font-size: 1.5em;
	border-radius: 100%;
}

nav li:first-child{
	position: -webkit-sticky;
	position: sticky;
	border-top: none;
}


nav li a{
	display: block;
	color: #f60788;
	padding: .90em 1em;
	text-decoration: none;
	font-family: 'Gloria Hallelujah', Arial, Sans-serif;
}

/*show moblie class, hide tablet deskop class */

.moblie{
	display: block;
}
.tablet-desktop{
	display: none;
}

/* Style rule for main */
main{
	background-color: ##7179f9; 
	padding: 2%;
	font-size: 1.15em;
	font-family: 'Gloria Hallelujah', Arial, Sans-serif;
}

.tel-link{
	background-color: ##7179f9;
	padding: 2%;
	margin: 0 auto; 
	width: 80%; 
	text-align: center;
	border-radius: 5px;
}

.tel-link a{
	color: #fff;
	text-decoration: none;
	font-size: 1.5em;
	display: block;
}




contact{
	text-align: center;
}

contact .contact-email-link{
	color:#660;
	text-decoration: none;
}

map{
	border: 2px solid #000;
	width: 95%;
	height: 50%;
}

/*Style rule for footer content*/
footer p{
	font-size: .75em;
	text-align: center;
	color: #fff;
	padding: 0 1em;
}

footerp a{
	color: #fff;
	text-decoration: none;
}


.locked_frog {
	border-width: 15px;
	border-style: solid;
	border-radius: 15px;
	border-color: #f60788;
	background-color: #f60788;
	
}
