/*
author: Samantha
Date: 9/10/2024

*/

/* CSS RESET */
body, header, nav, footer, main, h1, div, img, ul{
	margin: 0;
	padding: 0;
	border: 0;
} 

/* Style rules for body and images */
body{
	background-color: #7179f9; 	
}
img{
	max-width: 100%;
	display: block;
}

/*moblie Veiwpoint*/
/* Style rule for header */
header{
	position: static;
	text-align: center;
	top: 0; 
	background-color: #7179f9;
	height: 190px;
	font-family: "Gloria Hallelujah";
	padding: 1%;
	border: 3;
}


/* stlye rules for navagation */ 
nav{
	position: static;
	position: static;
	padding: 1%;
	margin-bottom: 1%;
	background-color: #000;

}	

nav ul{
	position: static;
	position: static;
	list-style-type: none;
	text-align: center;
}

nav li{
	position: static;
	position: static;
	font-size: 1.5em;
	
}

nav li:first-child{
	position: static;
	position: static;
	border-top: none;
}

nav li a:hover{
        color: #fffff;
        background-color: #1d1163;
		border-radius: 10%;
    }
	frame{
		opacity: .5;
	}

	frame:hover{
		opacity: 1;
	}


nav li a{
	display: block;
	color:  #4d30fc;
	padding: .90em 1em;
	text-decoration: none;
	font-family: 'Gloria Hallelujah', Arial, Sans-serif;
}

/*show moblie class, hide tablet deskop class */

.moblie{
	display: block;
}
.tablet-desktop{
	display: none;
}

/* Style rule for main */
main{
	background-color: ##7179f9; 
	padding: 2%;
	font-size: 1.15em;
	font-family: 'Gloria Hallelujah', Arial, Sans-serif;
}

.tel-link{
	background-color: #7179f9;
	padding: 2%;
	margin: 0 auto; 
	width: 80%; 
	text-align: center;
	border-radius: 5px;
}

.tel-link a{
	color: #fff;
	text-decoration: none;
	font-size: 1.5em;
	display: block;
}




contact{
	text-align: center;
}

contact .contact-email-link{
	color:#660;
	text-decoration: none;
}

map{
	border: 2px solid #000;
	width: 95%;
	height: 50%;
}

/*Style rule for footer content*/
footer p{
	font-size: .75em;
	text-align: center;
	color: #fff;
	padding: 0 1em;
}

footerp a{
	color: #fff;
	text-decoration: none;
}


.locked_frog {
	border-width: 15px;
	border-style: solid;
	border-radius: 15px;
	border-color: #4d30fc;
	background-color: #4d30fc;
	
}
#go {
	
	padding: right;
	align-items: right;
	border-width: .5px;
	border-style: solid;
	border-radius: 10px;
	border-color: #000;
	background-color: #000;
	font-size: 3.40em;
	text-align: center;
	list-style-type: none;
	text-decoration: none;
	color: #fff;
}
#home {
	
	padding: right;
	align-items: right;
	border-width: .5px;
	border-style: solid;
	border-radius: 10px;
	border-color: #000;
	background-color: #000;
	font-size: 3.40em;
	text-align: center;
	list-style-type: none;
	text-decoration: none;
	color: #fff;
}
#billy {
	
	padding: right;
	align-items: right;
	border-width: .5px;
	border-style: solid;
	border-radius: 10px;
	border-color: #000;
	background-color: #000;
	font-size: 3.40em;
	text-align: center;
	list-style-type: none;
	text-decoration: none;
	color: #fff;
}
#conn {
	
	padding: right;
	align-items: right;
	border-width: .5px;
	border-style: solid;
	border-radius: 10px;
	border-color: #000;
	background-color: #000;
	font-size: 3.40em;
	text-align: center;
	list-style-type: none;
	text-decoration: none;
	color: #fff;
}
#gray {
	
	padding: right;
	align-items: right;
	border-width: .5px;
	border-style: solid;
	border-radius: 10px;
	border-color: #000;
	background-color: #000;
	font-size: 3.40em;
	text-align: center;
	list-style-type: none;
	text-decoration: none;
	color: #fff;
}
#santa {
	
	padding: right;
	align-items: right;
	border-width: .5px;
	border-style: solid;
	border-radius: 10px;
	border-color: #000;
	background-color: #000;
	font-size: 3.40em;
	text-align: center;
	list-style-type: none;
	text-decoration: none;
	color: #fff;
}
#john {
	padding: right;
	align-items: right;
	border-width: .5px;
	border-style: solid;
	border-radius: 10px;
	border-color: #000;
	background-color: #000;
	font-size: 3.40em;
	text-align: center;
	list-style-type: none;
	text-decoration: none;
	color: #fff;
}
#tim {
	padding: right;
	align-items: right;
	border-width: .5px;
	border-style: solid;
	border-radius: 10px;
	border-color: #000;
	background-color: #000;
	font-size: 3.40em;
	text-align: center;
	list-style-type: none;
	text-decoration: none;
	color: #fff;
}
