/*
Author: Samantha Martin
Date: 10/17/24
File Name: extend
*/

/* CSS Reset */
body, header, main, footer, h1, h3, section, article {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Style rule for body */
body {
	background-color: #dfe7c4;
}

/* Style rule for header */
header {
	font-family: Verdana, Arial, sans-serif;
	margin-top: 0.2em;
	background-color: #628c45;
	color: #dfe7c4;
	padding: 2%;
    text-align: center;
}

/* Style rules for main content  */
main {
	background-color: #fff;
}



.grid{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 10px;
	grid-auto-rows: minmax(100px, auto);
}

.gridL{
	padding: 0.5em 1em;
	grid-column: 1;
  	grid-row: 1 / 5;
}

.gridC{
	padding: 0.5em 1em;
	grid-template-columns: auto auto;
}

.gridF{
	padding: 0.5em 1em;
	grid-auto-flow: column;
}

aside {
    padding: 2%;
}



footer {
	font-size: .70em;
	text-align: center;
}